# Introduction to Pandas Library
- Pandas is an open source library in python which is know for its rich applications and utilities for all kinds of mathematical, financial and statistical functions
- It is useful in data manipulation and analysis
- It provides fast, flexible, and expressive data structures designed to make working with structured (tabular, multidimensional, potentially heterogeneous) and time series data

#### Installing pandas

In [ ]:
!pip install pandas

#### Importing pandas

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Series

#### Series -

   - are one-dimensional ndarray with axis labels (homogenous data)
   - labels need not be unique but must be of immutable type

### Creating Series

###### Ex. Create series using the given list of names

In [ ]:
name = ["Jack", "Jane", "Rosie", "George", "Sam"]
ser_names = pd.Series(name)
ser_names

### Extracting elements from series

#### Indexing based on index number

In [ ]:
ser_names[0]

In [ ]:
ser_names[0:3]

#### Assigning names as index to marks

In [ ]:
name = ["Jack", "Jane", "Rosie", "George", "Sam"]
marks = pd.Series(np.random.randint(5, 20, size = 5), index=name)
marks

In [ ]:
name = ["Jack", "Jane", "Rosie", "George", "Sam"]
marks = pd.Series(np.random.randint(5, 20, size = 5))
marks.index = name
marks

#### Indexing based on index name

In [ ]:
marks["Jane"]

In [ ]:
marks["Jane" : "George"]

### Filtering Series / Conditional Indexing

In [ ]:
marks[marks < 15]

### Operations on Series

In [ ]:
marks/20 * 100

### Ranking and Sorting

series.sort_values(`ascending=True`, `inplace=False`, `na_option = {"first","last"}`) <br>
series.sort_index(`ascending=True`, `inplace=False`)
<br>
series.rank(`ascending=False`, `method={"average","min","dense"}`, `na_option = {"top","bottom"}`)

In [ ]:
marks.sort_values(ascending=False, inplace=True)
marks

In [ ]:
marks.rank().astype(int)

### Working with NULLs

In [ ]:
name = ["Jack", "Jane", "Rosie", "George", "Sam"]
marks = pd.Series(np.random.randint(5, 20, size = 5))
marks.index = name
marks

In [ ]:
marks = pd.concat((marks, pd.Series([np.nan, np.nan], index = ["Bill", "Thomas"])))
marks

In [ ]:
marks.isna().any()

In [ ]:
marks.isna().sum()

In [ ]:
marks.fillna(0, inplace=True)

<hr><hr>

# Dataframe

A DataFrame is two dimensional data structure where the data is arranged in the tabular format in rows and columns

#### DataFrame features:

- Columns can be of different data types
- Size of dataframe can be changes
- Axes(rows and columns) are labeled
- Arithmetic operations can be performed on rows and columns

### Creating Dataframes

In [ ]:
employees = {"Name" : ["Jack", "Bill", "Lizie", "Jane", "George"],
            "Designation" : ["HR", "Manager", "Developer", "Intern", "Manager"],
            "Salary": [40000, 60000, 25000, 12000, 70000]}

df = pd.DataFrame(employees)
df

### Accessing Dataframes

In [ ]:
df["Name"]

In [ ]:
df.Name

In [ ]:
df[["Name", "Salary"]]

### Operations on dataframes

###### Ex. Average Salary

In [ ]:
df.Salary.mean()

###### Ex. Average Salary of managers

In [ ]:
df[df.Designation == "Manager"].Salary.mean()

### Concataneting and Merging Dataframes

In [ ]:
df_jan = pd.DataFrame({"Order ID" : range(101, 111), "Sales" : np.random.randint(10000, 50000, 10)})
df_feb = pd.DataFrame({"Order ID" : range(111, 121), "Sales" : np.random.randint(10000, 50000, 10)})
df_mar = pd.DataFrame({"Order ID" : range(121, 131), "Sales" : np.random.randint(10000, 50000, 10)})

#### Concatenate
pd.concat(`tuple of dfs`, `ignore_index = False`, `axis=0`)

In [ ]:
pd.concat((df_jan, df_feb, df_mar), ignore_index=True)

In [ ]:
pd.concat((df_jan, df_feb, df_mar),  axis=1)

#### Merging Dataframes

`df1.merge(df2, how="", left_on="", right_on="", left_index= "" , right_index="")`

In [ ]:
df_emp = pd.DataFrame({"Name" : ["Jack", "Bill", "Lizie", "Jane", "George"],
            "Designation" : ["HR", "Manager", "Developer", "Intern", "Manager"]})
df_emp

In [ ]:
base_salaries = pd.DataFrame({"Designation" : ["HR", "Developer", "Manager", "Senior Manager"],
            "Salary": [40000, 25000, 70000, 1000000]})
base_salaries

#### Inner Merge

In [ ]:
df_emp.merge(base_salaries, how = "inner", on= "Designation")

#### Left Merge

In [ ]:
df_emp.merge(base_salaries, how = "left", on= "Designation")

#### Right Merge

In [ ]:
df_emp.merge(base_salaries, how = "right", on= "Designation")

#### Outer Merge

In [ ]:
df_emp.merge(base_salaries, how = "outer", on= "Designation")

## Reading data from Data Sources

### Examples using Coffee Shop Dataset

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv("Datasets/coffee_sales.csv", header=3)
df.drop(columns=[df.columns[0]], inplace= True)
df.fillna({"Target Profit" : "0"}, inplace=True)
transobj = str.maketrans("", "", "$,")
df.Sales = df.Sales.str.translate(transobj).astype(float)
df.Profit = df.Profit.str.translate(transobj).astype(float)
df["Target Sales"] = df["Target Sales"].str.translate(transobj).astype(float)
df["Target Profit"] = df["Target Profit"].str.translate(transobj).astype(float)
df.head()

###### Ex. Read data from `coffee_sales.csv`

In [ ]:
df = pd.read_csv("Datasets/coffee_sales.csv", header=3)
df

In [ ]:
df.columns

### Drop a column or row from dataframe

In [ ]:
df.drop(columns=[df.columns[0]], inplace= True)
df.head(2)

### Drop null rows
df.dropna(`axis = 0`, `how = "any"`, `inplace = False`)
- axis 0 for row or 1 for column
- how - {any or all}

In [ ]:
df.isna().any()

In [ ]:
df.isna().sum()

In [ ]:
df = pd.read_csv("Datasets/coffee_sales.csv", header=3)
df.dropna(how = "all", axis=1)

In [ ]:
df.fillna({"Target Profit" : "0"}, inplace=True)
df.head()

In [ ]:
df.dtypes

### Renaming a Columns

###### Rename Columns (column 5 - 8 are not accessible)

In [ ]:
df.columns = []

#### Rename Single Column

In [ ]:
df.rename({"Franchise" : "Branch"}, inplace=True, axis=1)
df.head()

### Understanding Data in Dataframe

- `df.shape` - gives the size of the dataframe in the format (row_count x column_count)
- `df.dtypes` - returns a Series with the data type of each column
- `df.info()` - prints information about a DataFrame including the index dtype and columns, non-null values and memory usage
- `df.head()` - prints the first 5 rows of you dataset including column header and the content of each row
- `df.tail()` - prints the last 5 rows of you dataset including column header and the content of each row

In [ ]:
df.shape

In [ ]:
df.dtypes

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
df_coffee.head(3)

In [ ]:
df.tail()

In [ ]:
df.tail(3)

### Cleaning data

`df.apply()`

###### Ex. Converting Sales and Profits columns to float types

In [ ]:
transobj = str.maketrans("", "", "$,")

df.Sales = df.Sales.str.translate(transobj).astype(float)
df.Profit = df.Profit.str.translate(transobj).astype(float)
df["Target Sales"] = df["Target Sales"].str.translate(transobj).astype(float)
df["Target Profit"] = df["Target Profit"].str.translate(transobj).astype(float)

In [ ]:
df.head(2)

### Working with **null** values

`df.isna()` - Detect missing values. Return a boolean same-sized object indicating if the values are NA.

`df.fillna(value=None, inplace=False)` - Fill NA/NaN values using the specified method.

###### Ex. Identify Sales made by 'Caffe Latte'

In [ ]:
df[df.Product == 'Caffe Latte'].Sales.sum()

### Removing Duplicate Data

In [ ]:
employees = {"Name" : ["Jack", "Bill", "Lizie", "Jane", "George"],
            "Designation" : ["HR", "Manager", "Developer", "Intern", "Manager"],
            "Salary": [40000, 60000, 25000, 12000, 70000]}

df = pd.DataFrame(employees)
df

In [ ]:
df.drop_duplicates(subset=["Designation"], keep = "last")

### Replacing values

df.replace(old_value, new_value, inplace=True)

In [ ]:
df.replace({"Developer" : "Dev"})

### Adding a new Column by calculation

###### Ex. Create columns showing `Sales` and `Profit` targets achieved

In [ ]:
df["Sales Target Status"] = np.where(df.Sales > df["Target Sales"], "Achieved", "Not Achieved")
df.head()

###### Ex. Count the number times Targets are achieved

In [ ]:
df["Sales Target Status"].value_counts()

In [ ]:
(df["Sales Target Status"].value_counts(normalize=True) * 100).round(2).astype(str) + "%"

### Creating a bar chart to view Target Status

In [ ]:
data = df["Sales Target Status"].value_counts()

#### using matplpotlib

In [ ]:
plt.figure(figsize = (3, 2))
plt.bar(data.index, data)

#### using pandas

In [ ]:
data.plot(kind = "bar", figsize = (3, 2))

#### using seaborn

In [ ]:
plt.figure(figsize = (3, 2))
sns.countplot(data = df, x = "Sales Target Status")